@import url('https://fonts.googleapis.com/css2?family=Anton&family=Carrois+Gothic&family=Itim&family=Koulen&family=Readex+Pro&family=Squada+One&display=swap');
/*
font-family: 'Anton', sans-serif; --> ICON
font-family: 'Carrois Gothic', sans-serif; --> SEARCH BAR + txt
font-family: 'Itim', cursive; --> X
font-family: 'Koulen', cursive; --> tittle
font-family: 'Readex Pro', sans-serif; --> NAV LINK
font-family: 'Squada One', cursive; --> X
*/

/* --------------------------------------------------------------- */
/* --------------------------BASIC START-------------------------- */
/* --------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 138, 219);
    width: 100%;
    height: 961px;
    justify-content: space-between;
}

@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}

/* --------------------------------------------------------------- */
/* --------------------------NAV CONTENT-------------------------- */
/* --------------------------------------------------------------- */


.nav {
    background-color: white;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    height: 85px;
    z-index: 100;
    box-shadow: 0 1px 10px;
}

.icon1 {
    width: 72px;
}

.icontxt{
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 33px;
    font-weight: 500;
    margin-left: 4px;
    margin-top: 9px;
}

.nav-icon {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-main-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 34px;
}

.nav-links {
    margin-right: 30px;
    display: flex;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.3s 0.3s ease-out forwards;
}

.links {
    color: black;
    border-radius: 10px;
    width: auto;
    font-size: 20px;
    font-family: 'Readex Pro', sans-serif;
    margin-left: 25px;
    transform: scale(100%);
    transition: 300ms;
}

.links:hover {
    transform: scale(110%);
    transition: 200ms;
}

.searchbar {
    width: 215px;
    height: 42px;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 1px 4px 0px;
    display: flex;
    margin-right: 30px;
    opacity: 0;
    transform: translateY(-35px);
    animation: apparition 0.5s 0.5s ease-out forwards;
}

.search {
    width: 175px;
    height: 42px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 0px solid rgba(255, 255, 255, 0);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 10px;
    border-top: 2px solid rgb(238, 238, 238);
    border-bottom: 2px solid rgb(238, 238, 238);
    border-left: 2px solid rgb(238, 238, 238);
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 600;
}

.searchbtn {
    text-decoration: none;
    width: 41px;
    height: 42px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px solid white;
    padding-right: 4px;
    cursor: pointer;
}

#searchbtn {
    color: black;
    width: auto;
    height: auto;
    font-size: 20px;
    position: static;
    transform: scale(100%);
    transition: 150ms;
}

#searchbtn:hover {
    transform: scale(107%);
    transition: 150ms;
}

#loginbtn {
    color: black;
    width: auto;
    height: auto;
    font-size: 27.5px;
    position: static;
    text-decoration: none;
    color: gold;
    -webkit-text-stroke: 1.5px black;
    transform: translateY(2px);
    transition: 300ms;
    margin-bottom: 3px;
}

#loginbtn:hover {
    transform: translateY(-2px);
    transition: 300ms;
}

#favbtn {
    color: gold;
    width: auto;
    height: auto;
    font-size: 30px;
    position: static;
    text-decoration: none;
    -webkit-text-stroke: 1.4px black;
    transform: translateY(2px);
    transition: 300ms;
    margin-bottom: 3px;
}

#favbtn:hover {
    transform: translateY(-2px);
    transition: 300ms;
}

#cartbtn {
    color: gold;
    width: auto;
    height: auto;
    font-size: 30px;
    position: static;
    text-decoration: none;
    -webkit-text-stroke: 1.5px black;
    transform: translateY(2px);
    transition: 300ms;
    margin-bottom: 3px;
}

#cartbtn:hover {
    transform: translateY(-2px);
    transition: 300ms;
}

.nav-fav{
    transform: translateX(160px);
    animation: apparition 0.4s 0.2s ease-out forwards;
}

.nav-auth {
    margin-left: 17px;
    transform: translateX(160px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.nav-cart {
    margin-left: 14px;
    transform: translateX(160px);
    animation: apparition 0.6s 0.2s ease-out forwards;
}


/* --------------------------------------------------------------- */
/* ---------------------------LOGIN PAGE-------------------------- */
/* --------------------------------------------------------------- */

.homelogin{
    margin-top: 85px;
    width: 100%;
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formbox{
    width: 400px;
    height: 540px;
    background-color: rgba(255, 255, 255, 0.671);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 4px black;
    overflow: hidden;
}

.topicon{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.76);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 3px black;
}

.icon2{
    width: 60px;
    transform: translateY(-90px);
    animation: apparition 0.4s 0.4s ease-out forwards;
}

.loginbox{
    width: 100%;
    height: 440px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
}

.logintitle{
    font-family: 'Koulen', cursive;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 15px;
}

.logintitle em{
    font-style: normal;
}

.loginbox form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginbox form input{
    width: 300px;
}

/* --------------------------------------------------------------- */
/* ---------------------------DOWN PAGE--------------------------- */
/* --------------------------------------------------------------- */

.homedownpage{
    width: 100%;
    background-color: rgb(39, 39, 39);
    display: block;
}

.down-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-shadow: 0px 1px 10px black;
}

.downpagebtn{
    color: gold;
    -webkit-text-stroke: 0.1px black;
    font-size: 20px;
    padding-left: 40px;
    font-style: italic;
    font-weight: 500;
    font-family: 'Carrois Gothic', sans-serif;
    transform: scale(100%);
    transition: 150ms;
}

.downpagebtn:hover {
    transform: scale(107%);
    transition: 150ms;
}
